<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="~/css/Shared/Layout.css" type="text/css" rel="stylesheet">

    <title>@ViewData["Title"] - SeasonStats</title>

</head>

<body>
    <div class="container body-content">

        <div class="navbar">

            <a class="link" href="@Url.Action("Index", "Home")">Home</a>
            <a class="link" href="@Url.Action("Index", "Player")">Player</a>
            <a class="link" href="@Url.Action("Index", "Match")">Match</a>

        </div>

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - SeasonStats</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>